graphql-server/node_modules/
# graphql-server/test.js
graphql-server/sandbox/queries.gql
graphql-server/locationInfo/.ipynb_checkpoints/Untitled-checkpoint.ipynb
graphql-server/locationInfo/Untitled.ipynb
